<?xml version='1.0' encoding='utf-8'?>
<widget id="com.miro.demo" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Demo</name>
    <description>
        Demo app
    </description>
    <author email="jelicic00@gmail.com" href="http://github.com/mjelicic">
        Miro Jelicic
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
