<ion-view title="Items">
  <ion-content class="padding">

    <h1>Items</h1>

    <ul>
      <li ng-repeat="item in items">{{item}}</li>
    </ul>

    <form novalidate>

      <div class="list">
        <label class="item item-input">
          <input ng-model="item.name" type="text" placeholder="name">
        </label>
        <label class="item item-input">
          <input ng-model="item.price" type="number" placeholder="price">
        </label>

        <button class="button button-positive" ng-click="items.$add(item)">SAVE</button>

      </div>

    </form>

  </ion-content>
</ion-view>